!!! 5
%html
	%head
		%link{href:"./app.css",rel:"stylesheet"}
		%link{href:"https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700",rel:"stylesheet"}
		%meta{charset:"utf-8"}
		%title Landing Page
	%body
		.workshop-background
			.row.center-xs
				.col-xs-10.col-sm-8.col-md-6
					.box
						%header.white-text.text-center

							%h1.title.slim Título
							.top-space
								%a.btn.btn--yellow.uppercase.black-text{href:"#contacto"} Quiero contactarlos
		.row.center-xs.relative.main
			.col-xs.col-sm-8
				.box
					.card.move-up.padding-50.z-depth
						.container-80.center-block.black-text
							.row.center-xs
								.col-xs-12.col-sm-6
									.box.text-left
										%p.bold ¿Qué servicios ofrecemos?
										%ul.bullet-points
											%li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											%li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											%li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											%li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

								.col-sm-1.separator
								.col-xs-12.col-sm.text-right
									.box
										%p.bold ¿Cómo trabajamos?
										%p
											Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis sit, consectetur veniam voluptatem tenetur deleniti. Non voluptatibus, quidem quos doloremque tempore nam, unde fugit, culpa dolorem adipisci enim facilis soluta!

		.workshop-background
			.row.center-xs.relative
				.col-xs.col-sm-8.main
					.box
						%h2.slim.white-text.title Conócenos más
						.row.center-xs
							%article.col-xs-12.col-md-5.plan
								.box
									%header.green
										.box
											%img{src:"http://pbs.twimg.com/profile_images/684941063891492865/pA3mLvyJ.jpg",class:"avatar"}
									.card
										%h3.subtitle.text-center.green-text.slim Lucas De Cesares
										.container-90.top-space.center-block
											%ul.benefits
												%li.row.middle-xs
													.col-xs-1.col-add-5
														.box
															%img{src:"imgs/icons/play_dark.png"}
													.col-xs-1
													.col-xs
														.box
															Lorem ipsum dolor sit amet, consectetur adipisicing elit.
												%li.row.middle-xs
													.col-xs-1.col-add-5
														.box
															%img{src:"imgs/icons/calendar_dark.png"}
													.col-xs-1
													.col-xs
														.box
															Lorem ipsum dolor sit amet, consectetur adipisicing elit.
												%li.row.middle-xs
													.col-xs-1.col-add-5
														.box
															%img{src:"imgs/icons/screen_dark.png"}
													.col-xs-1
													.col-xs
														.box
															Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											.actions
												%a.btn.btn--green.white-text{href:"#"} Ver más
							%article.col-xs-12.col-md-5.plan
								.box
									%header.blue
										.box
											%img{src:"http://pbs.twimg.com/profile_images/684941063891492865/pA3mLvyJ.jpg",class:"avatar"}
									.card
										%h3.subtitle.text-center.blue-text.slim Marcelo Javier Gorski
										.container-90.top-space.center-block
											%ul.benefits
												%li.row.middle-xs
													.col-xs-1.col-add-5
														.box
															%img{src:"imgs/icons/play_dark.png"}
													.col-xs-1
													.col-xs
														.box
															Lorem ipsum dolor sit amet, consectetur adipisicing elit.
												%li.row.middle-xs
													.col-xs-1.col-add-5
														.box
															%img{src:"imgs/icons/calendar_dark.png"}
													.col-xs-1
													.col-xs
														.box
															Lorem ipsum dolor sit amet, consectetur adipisicing elit.
												%li.row.middle-xs
													.col-xs-1.col-add-5
														.box
															%img{src:"imgs/icons/screen_dark.png"}
													.col-xs-1
													.col-xs
														.box
															Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											.actions
												%a.btn.btn--blue.white-text{href:"#"} Ver más


		.row.center-xs.relative.main
			.col-xs.col-sm-8
				.box
					.row.center-xs
		
						
						.col-xs-11.col-md-6
							.box
							


                            
		.green-section
			.row.center-xs.relative.main
				.col-xs.col-sm-8
					.box
						%p.title.white-text
					